body{
    background-color: red;
    color: powderblue;
}

div{
    position: relative;
    left: 50px;
    top: 100px;
    display:flex;
    align-items: center;
    align-content: center;
    
}

img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    
}
